/.idea/
/*.iml

/.project
/.classpath
/.settings/

/node_modules/
/npm-debug.log

/.nyc_output/
/coverage/
/tmp/
/index.js
/index.js.map
/classes/**/*.js
/classes/**/*.js.map
/utils/**/*.js
/utils/**/*.js.map